@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
    <li>@Html.ActionLink("主页", "Index", "Controls", new { area = "" }, null)</li>
    <li>@Html.ActionLink("Grid", "Grid", "Controls", new { area = "" }, null)</li>
</ul>
